.app-container {
  height: 100vh;
  padding: 10px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .app-container {
    padding-top: 20px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 20px;
  }
}
.image-container {
  width: 100%;
}
.selected-image {
  width: 100%;
  height: 60vh;
}
.heading {
  font-weight: bold;
  color: #1e293b;
  font-size: 30px;
}
@media (min-width: 768px) {
  .heading {
    font-size: 30px;
  }
}
.creator {
  color: #64748b;
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .creator {
    font-size: 25px;
  }
}
.thumbnailItem-container {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
